/* src/app/workerdashboard/page.module.css */

/* Global style to prevent scrolling when nav is open */
.navOpen {
    overflow: hidden;
}

.container {
    display: flex;
    min-height: 100vh;
    background-color: #fff;
    color: black;
    width: 100%;
    
}

.navigationBar {
    background: #fff;
    width: 400px;
    position: relative;
    z-index: 10;
    padding: 40px 70px 20px 20px;
    box-shadow: 5px 0px 4px 0px rgba(59, 130, 246, 0.25);
}

.navigationBar nav h1 {
    font-size: 25px;
    margin-bottom: 40px;
    color: #000000;
}
.navigationBar nav{
    margin-left: 30px;
    width: 100%;

}

.hamburger {
    display: none;
    border: none;
    background: none;
    cursor: pointer;
}

.navUl {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    list-style: none;
    padding: 0;
    margin: 20px;
}

.navItem {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

.navItem:hover {
    color: #3B82F6;
}

.navItem:hover img {
    filter: brightness(0) saturate(100%) invert(50%) sepia(100%) saturate(1000%) hue-rotate(200deg) brightness(100%) contrast(100%);
}


.navItem.active img {
    filter: brightness(0) saturate(100%) invert(50%) sepia(100%) saturate(1000%) hue-rotate(200deg) brightness(100%) contrast(100%);
}

.logOut {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 70px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    color: #888;
}

.logOut:hover {
    color: #3B82F6;
}

.logOut:hover img {
    filter: brightness(0) saturate(100%) invert(50%) sepia(100%) saturate(1000%) hue-rotate(200deg) brightness(100%) contrast(100%);
}

.mainContent {
    width: 100%;
    padding: 40px 60px;
    border-left: 1px solid #c9c9c9;
}

.mainContent h1 {
    font-size: 30px;
    margin: 0;
    margin-bottom: 40px;
}

.myTaskContainer {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;

}

.taskContainer {
    flex: 1;
    background: rgba(59, 130, 246, 0.2);
    padding: 20px 20px;
    border-radius: 12px;
    /* padding-right: 180px; */
    max-width:  300px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: flex-start; */
}

.taskContainer p {
    margin: 0;
    font-size: 1.1rem;
    color: #000000;
    font-weight: 500;
}

.taskContainer h2 {
    font-size: 2rem;
    margin: 0;
    font-weight: 600;
}

.submissions {
    margin-top: 50px;
}

.submissions h2, .mainContent h2 {
    font-size: 20px;
}

.walletBalance {
    background: rgba(59, 130, 246, 0.2);
    padding: 20px 20px;
    height: 130px;
    max-width: 250px;
    border-radius: 12px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.walletBalance p {
    margin: 0;
    font-size: 16px;
    color: #000000;
}

.walletBalance h2 {
    font-size: 32px;
    margin: 0;
    font-weight: 600;
    text-align: left;
}

/* Mobile Styles */
@media (max-width: 600px) {
        .open ~ .mainContent {
                display: none !important;
            }
    .container {
        flex-direction: column;
        
    }

    .navigationBar {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        transition: transform .5s ease-in-out;
    }

    .navigationBar.open {
        transform: translateX(0);
    }

    .topMenu{
        display: flex;
        align-items: center;
        height: 60px;
        margin-bottom: 20px;

    }
    .topMenu h1{
        margin: auto 20px;
    }
    .open + .hamburger{
        position: fixed;
    }
    .hamburger {
        display: block;
        position: absolute;
        top: 30px;
        left: 80%;
        z-index: 1000;
        width: 44px;
        height: 44px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mainContent {
        padding: 20px;
        border-left: none;
        flex: none;
    }
    .mainContent > h2, .submissions > h2{
        text-align: center;
    }

    .myTaskContainer {
        flex-direction: column;
        align-items: center;
        width: 100%;
        /* padding: 0 10px; */
        /* height: 550px; */
    }

    .taskContainer,
    .walletBalance {
        width: 100%;
        max-width: 350px;
        min-height: 130px;
        padding: 15px;
        display: flex;
        justify-self: center;
        gap: 1px;
    }
}