.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
}
.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 40px 30px;
  width: clamp(400px, 40%, 80%);
  box-shadow: 0 0 12px 1px #3b8cf6be;
  margin-top: 170px;
  /* width: 40%; */
  /* max-width: 90%; */
}

.card h2 {
  padding-bottom: 40px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.inputField {
  display: flex;
  flex-direction: column;
  height: 70px;
  gap: 5px;
}

.inputField input {
  padding: 10px;
  background: none;
  color: #000;
  border: 2px solid rgba(59, 130, 246, 0.6);
  border-radius: 10px;
  width: 100%;
}
.dropDown {
  padding: 10px;
  background: none;
  color: #000;
  border: 2px solid rgba(59, 130, 246, 0.6);
  border-radius: 10px;
  width: 100%;
}

.saveDetails {
  padding: 20px 0;
  display: flex;
  gap: 10px;
}

.payButton {
  padding: 10px;
  margin-top: 25px;
  background: #3b8cf6;
  color: #fff;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.payButton:hover {
  box-shadow: 0 1px 10px 1px rgba(59, 140, 246, 0.603);
  transform: translateY(-1px);
}

.transfer {
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  h2 {
    color: #3b8cf6;
  }
}
.accountDetails {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  h2 {
    display: inline;
  }
}

.successful {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.3);
}
.successfulContent {
  background: #fff;
  padding: 40px;
  margin: 0 15px;
  border-radius: 12px;
  /* width: 600px; */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.2s ease-in-out;
  overflow-y: auto;
}
.checkImage {
  width: 200px;
  height: 200px;
  /* margin: 0 45px; */
  display: flex;
  justify-self: center;
  align-items: center;
}

.updateWithdrawal {
  padding: 10px 20px;
  background: #3b8cf6;
  color: #fff;
  width: 100%;
  /* height: 50px; */
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.inputCode {
  /* width: 300px; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.inputCode input {
  width: 15%;
  aspect-ratio: 1/1.5;
  background: none;
  border: 2px solid #3b82f6;
  border-radius: 10px;
  color: black;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}

@media (max-width: 520px) {
  .card {
    min-width: 90%;
  }
  .Ec {
    flex-direction: column;
  }
}
